@using Microsoft.AspNetCore.Identity;
@using AwesomeNetwork.DAL.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="" asp-controller="AccountManager" asp-action="Logout">Выход</a>
}

